:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --hover-color: #404bbf;
  --bc-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
}

@media screen and (max-width: 1199px) {
  .benefit-item > .thumb {
    display: none;
  }
  .section-tech {
    display: none;
  }
}

body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  display: inline-block;
}

/* logo */

.logo {
  display: inline-block;
  align-self: center;
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

header .logo {
  margin-right: 76px;
}

.logo .web {
  display: inline-block;
  color: var(--accent-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus,
.logo:hover .web,
.logo:focus .web {
  color: var(--hover-color);
}

.header {
  /* position: relative; */
  border-bottom: 1px solid #e7e9fc;
}

/* Navigation */

.header-container {
  display: flex;
  align-items: center;
  padding: 24px 16px;
}

.all-nav {
  display: flex;
  margin-right: auto;
}

.navigation.list {
  display: none;
}

.address {
  display: none;
}
.humburger-button {
  width: 32px;
  height: 22px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .humburger-button {
    display: none;
  }
}

/* -------menu----------- */

.mobile-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;

  transform: translateY(100%);
}

.mobile-container-all {
  padding: 24px 24px 40px 40px;
  height: 100%;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.mobile-button-closer {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}

.current {
  color: var(--hover-color);
}
.mobile-menu-address {
  padding-bottom: 40px;
  font-style: normal;
}
.mobile-menu-address-list {
  padding-bottom: 48px;
}
.mobile-menu-phone {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color);
  padding-bottom: 40px;
}
@media screen and (min-width: 428px) {
  .mobile-menu-phone {
    font-size: 36px;
  }
}

.mobile-menu-email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/* main */

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* banner */
.first-section-title {
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  line-height: 1.11;
  width: 100%;
  margin-bottom: 72px;
}
.first-section {
  background-color: var(--title-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images1/background-mobile.jpg);
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;

  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images1/background-mobile-2x.jpg);
  }
}

.btn-order-service {
  min-width: 169px;
  text-align: center;
  border-radius: 4px;
  padding: 16px 32px;
  border: 0 solid transparent;

  background-color: var(--accent-color);
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order-service:hover,
.btn-order-service:focus {
  background-color: var(--hover-color);
}

/* ------------section benefit----------------- */

.thumb {
  background-color: var(--bc-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.benefit-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.benefit-list-title {
  color: var(--title-text-color);
  margin-bottom: 8px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.benefit-list-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
}

.benefit-item {
  width: 100%;
}

.section-benefit {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* -------------What are we doing----------------- */

.section-tech {
  padding-bottom: 120px;
}

.list-tech {
  display: flex;
  gap: 24px;
}

.tech-element {
  flex-basis: calc((100% - 48px) / 3);
}

/* --------------- section Our Team --------------- */

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 50%;
  color: #f4f4fd;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.team-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  row-gap: 72px;
}

.team-card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-section {
  background-color: var(--bc-color);
  padding-top: 96px;
  padding-bottom: 128px;
}

.tech-all-text {
  padding: 32px 16px;
}

.section-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.section-profession {
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 8px;
}

/* ---------------CUSTOMERS----------------- */

.customers-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: #404bbf;
}

/* ------------------------ FOOTER------------------- */

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: baseline; */
}

.footer-wrap {
  margin-bottom: 72px;
}

.companies {
  /* margin-left: 120px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companies-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

footer .social-link:hover,
footer .social-link:focus {
  background-color: #31d0aa;
}

.footer-text {
  color: var(--footer-text-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
  width: 264px;
}

footer .logo .web {
  color: var(--accent-color);
}

footer .logo {
  /* margin-bottom: 16px; */
  margin-bottom: 18px;
  color: var(--bc-color);
}

.footer {
  background-color: var(--title-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.subscribe {
}

.footer-form {
  /* margin-left: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-button-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.subscribe-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-subscribe-input {
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-input {
  /* width: 264px; */
  width: 90%;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus {
  border-color: #31d0aa;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:hover {
  border-color: #31d0aa;
}

.subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-width: 164px;
  height: 40px;
  padding: 8px 24px;
  border: 0 solid transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #ffffff;
  letter-spacing: 0.04em;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--hover-color);
}

.subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* PORTFOLIO */

.card-link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card {
  max-width: 396px;
}

.portfolio-section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.filter-btn-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  column-gap: 24px;
  row-gap: 16px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* filter buttons */
.list .filter-button {
  color: var(--accent-color);
  font-family: inherit;
  background-color: #f4f4fd;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition-property: color, border-color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: var(--hover-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.filter-list-text {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.filter-all-text {
  border: 1px solid #e7e9fc;
  border-top: 0;
  padding: 32px 16px;
}

.card-wrap {
  position: relative;
  overflow: hidden;
}

.card-link:is(:hover, :focus) .card-hidden-text {
  transform: translate(0);
}

.card-hidden-text {
  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--accent-color);
  color: var(--bc-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
  height: 100%;
  padding: 32px 40px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------------BACKDROP AND MODAL----------------------- */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(100%, -100%) scale(0);
}

.modal-button-closer {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  margin-bottom: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-closer:is(:hover, :focus) {
  background-color: var(--hover-color);
}

.modal-button-closer:is(:hover, :focus) .modal-icon-closer {
  fill: #ffffff;
}

.modal-icon-closer {
  fill: #000000;
}
.no-scrolle {
  overflow: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  overflow-y: auto;
  width: calc(100% - 36px);
  height: 90%;
  max-width: 392px;
  max-height: 586px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px 16px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 16px;
}

/* ---------------------MODAL FORM--------------------- */

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-label:last-child {
  margin-bottom: 0;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  display: block;
  outline: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: var(--accent-color);
}

.modal-textarea::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-checkbox:checked + .modal-label-checkbox::before {
  background-color: var(--hover-color);
  border: none;
  background-image: url(../images1/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox > .modal-label {
  display: flex;
  align-items: center;
}

.modal-checkbox > .modal-label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
}

.modal-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  text-align: center;
  border-radius: 4px;
  padding: 16px 32px;
  border: 0 solid transparent;

  background-color: var(--accent-color);
  color: white;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  background-color: var(--hover-color);
}
.modal-button:focus {
  background-color: var(--hover-color);
}

.modal-link {
  color: var(--accent-color);
  margin-left: 4px;
}
